---

---

<div
  class="prose prose-slate mx-auto lg:prose-lg
  prose-h1:text-4xl prose-h1:font-bold prose-h1:mb-4
  prose-h2:text-3xl prose-h2:font-bold prose-h2:mb-4
  prose-h3:text-2xl prose-h3:font-bold prose-h3:mb-4
  md:prose-h4:text-xl md:prose-h4:font-bold prose-h4:bg-red-500 prose-h4:text-white prose-h4:text-center md:prose-h4:mx-14
  prose-li:text-lg prose-li:leading-none prose-li:mb-4
  prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl"
>
  <slot />
</div>
