---
import "../styles/tailwind.css";
import Footer from "../components/Footer.astro";
import "../styles/fonts.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- Font preloads -->
    <link
      rel="preload"
      href="/fonts/Inter.woff2?v=1"
      as="font"
      type="font/woff2"
      crossorigin
    />
  </head>
  <body>
    <slot />

    <Footer />
  </body>
</html>
